<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pet Clinic Index </title>
</head>
<body>
<h1> List of Owners.. </h1>

<table>
  <tr>
    <th>ID</th>
    <th>firstname</th>
    <th>lastname</th>
  </tr>
  <tr th:each="owner : ${owner}">
    <td th:text="${owner.id}"></td>
    <td th:text="${owner.firstName}"></td>
    <td th:text="${owner.lastName}"></td>
    <td th:text="${owner.address}"></td>
    <td th:text="${owner.city}"></td>
    <tr th:each="pet: ${owner.pets}">
        <td th:text="${pet.name}"></td>
        <td th:text="${pet.petType}"></td>
        <td th:text="${pet.lastName}"></td>
    </tr>

  </tr>
</table>

</body>
</html>